.nav-link-custom:active {
    background-color: blueviolet !important;
    color: white !important;
}

.navbar {
    position: fixed;
    top: 0; /* Define a posição do topo */
    left: 0; /* Define a posição da esquerda */
    width: 100%; /* Define a largura como 100% */
    height: 50px; /* Define a altura como 100px */
    background-color: #ADD8E6; /* Define a cor de fundo */
    padding: 20px; /* Adiciona preenchimento */
    box-sizing: border-box; /* Inclui preenchimento e borda na largura e altura total */
}